.div {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}
.core {
    border-radius: 5px;
    width: 150px;
    height: 70px;
    margin: 45px;
    font-size: 35px;
    
}

.task {
    border-radius: 5px;
    width: 150px;
    height: 70px;
    margin: 45px;
    font-size: 35px;
   
}

